extends layout
block content
	h1 #{title} : #{book.title}
	p #[strong Author:] 
		a(href=book.author.url) #{book.author.name}
	p #[strong Summary:] #{book.summary}
	p #[strong ISBN:] #{book.isbn}
	p #[strong Genre:]&nbsp;
		each val in book.genre
			a(href=val.url) #{val.name}
	p #[strong Comments:]
		each comment in comments
			p
				a(href=comment.user_name.url) #{comment.user_name.name}
			p #{comment.fav_part}
			p #{comment.description}
			p #{comment.page_number}
			p #{comment.published_date}

