extends layout
block content
  h1= title
  p #[Strong Firstname:] #{user.firstname}
  p #[strong Lastname: ] #{user.lastname }
  p #[strong Email:] #{user.email}
  p #[strong UserName:] #{user.user_name}
  hr
  p #[Strong Authors you like:]
  each author in user.fav_authors
    a(href=author.url) #{author.name} | 
  hr
  p #[Strong Books you like:]
  each book in user.fav_books
    a(href=book.url) #{book.title} | 
  hr
  p #[Strong Genres you like:]
  each genre in user.preferred_genres
    a(href=genre.url) #{genre.name} | 
	
